#student_page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2em;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.students_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
